[loggers]
keys=root

[handlers]
keys=screen,file

[formatters]
keys=simple,complex

[logger_root]
handlers=screen,file
level=NOTSET

[handler_screen]
class=StreamHandler
formatter=simple
level=INFO
args=(sys.stdout,)

[handler_file]
class=FileHandler
interval=midnight
backupCount=5
formatter=complex
level=DEBUG
args=('ccpt.log',)
mode='w+'

[formatter_simple]
format=[%(levelname).1s] %(name)s: %(message)s

[formatter_complex]
format=[%(asctime)s]:%(name)s:%(levelname)s - %(module)s:%(lineno)d - %(message)s
